
<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pïpes incluidos en Angular- Usualmente en el Common Module
    </p>
</div> 

<div class="p-grid">
    <div class="p-col-4">
        <p-card header= 'Ventas Netas'
                subheader= 'de este año'>
                <i class="pi pi-dollar"></i>
                    {{(ventasNetas + 1000000) | number :'1.4-4' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header= 'Ventas Brutas'
                subheader= 'de este año'>
                    {{(ventasNetas + 2000000) | currency: 'ARS': 'symbol-narrow': '1.0-4' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header= 'Ganancias'
                subheader= 'de este año'>
                    {{porcentaje | percent:'2.2-2'}}
        </p-card>
    </div>


</div>